// MAINS PARAM

li{
    list-style: none;
}
.all{
    overflow: hidden;
}

// COLORS
$color-white: #fff;
$color-red: #ff00df;
$color-home: #1317bf;
$color-title: #464c62;
$color-black: #000000;
$color-number: #9270dc;